<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maybyte by Adnan</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body class="bg-slate-900 text-white min-h-screen flex items-center justify-center">

    <div class="text-center space-y-4">
        <h1 class="text-5xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-cyan-600">
            MAYBYTE
        </h1>
        <p class="text-xl text-slate-400">
            Website Based Server Monitoring System<span class="text-yellow-400 font-mono"> v1.5.4</span>
        </p>
        
        <button class="px-6 py-2 bg-purple-600 hover:bg-purple-700 rounded-lg shadow-lg transition-all">
            Test Button broo.
        </button>
    </div>

</body>
</html>